{% extends 'base.html' %}

{% block content %}
<form action="/edit-post-apply" method="POST" class="form">
<input type="hidden" name="post_id" value="{{ post.post_id }}">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
      <input name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ post.title }}">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Body</label>
      <input name="body" class="form-control" id="exampleInputPassword1" value="{{ post.body }}">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}